[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/

# OS fájlok
.DS_Store
Thumbs.db

# Unity generated csproj
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Crash reports
sysinfo.txt